@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --secondary: 210 40% 96.1%;
    --primary: 222.2 47.4% 11.2%;
  }

  .dark {
    --primary: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
  }
}

@layer components {
  * {
    @apply m-0 p-0 box-border font-primary;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    @apply w-[5px];
  }

  *::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-slate-500 border-none bg-opacity-40 rounded-full;
  }

  /* ELEMENTS STYLING */

  label {
    @apply text-sm font-bold text-slate-900 capitalize;
  }

  p {
    @apply text-lg font-normal;
  }

  .pattern {
    background-image: url("./assets/education_pattern_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pattern-2 {
    background-image: url("./assets/homepage001.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .homepage {
    background-image: url("./assets/education_pattern_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .debug {
    @apply border-2 border-red-600;
  }

  .alertbox-centered {
    @apply top-2 left-1/2 transform -translate-x-1/2 z-50;
  }

  .icon-styling {
    @apply text-slate-100 m-0.5 cursor-pointer h-6 aspect-square group-hover:text-white;
  }

  .card-icon-styling {
    @apply text-slate-700 m-0.5 cursor-pointer h-6 aspect-square group-hover:text-slate-900;
  }

  .centered {
    @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }

  /* FLEX BOX STYLING */

  .flex-row-centered {
    @apply flex items-center justify-center;
  }

  .flex-col-centered {
    @apply flex flex-col items-center justify-center;
  }
  /* GRID STYLING */
  .grid-lg {
    @apply grid phone:grid-cols-1 tablet:grid-cols-3 laptop:grid-cols-4 gap-3 p-4 place-items-center;
  }
  .grid-sm {
    @apply grid phone:grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-3 gap-3 p-3 place-items-center;
  }
  /* BUTTONS STYLING */

  .accordion_item {
    @apply w-full list-none;
  }
  .accordion_item.active .button {
    @apply bg-primary  text-white;
  }

  .button {
    @apply uppercase outline-none  hover:bg-primary  hover:text-white text-black font-bold flex justify-between w-full items-center py-3 px-4 cursor-pointer;
  }
  .navbar-link {
    @apply text-white text-sm capitalize  flex-row-centered px-2 mx-1 rounded-lg phone:w-max h-8 tablet:h-10;
  }

  .cta-wrap {
    @apply flex flex-col justify-center items-center w-full mt-4;
  }
  .cta-btn {
    @apply rounded-full h-7 mb-0.5 aspect-square cursor-pointer flex-row-centered bg-slate-700 hover:bg-slate-900 transition-all  duration-200;
  }

  /* MODAL STYLING */
  .modal-overlay {
    @apply fixed inset-0 bg-black bg-opacity-40 backdrop-blur-lg flex flex-col-centered z-30 overflow-auto overflow-x-hidden;
  }

  /* FORM STYLING */
  .form-wrap {
    @apply bg-slate-300 bg-opacity-50 flex flex-col justify-start items-center phone:w-[97%] tablet:w-[420px] h-auto rounded-2xl  overflow-auto overflow-x-hidden mx-2;
  }

  .form-styling {
    @apply w-full px-5 flex-col-centered;
  }

  .input-wrap {
    @apply flex flex-col justify-center items-start  gap-1.5 my-0.5;
  }

  .input-styling {
    @apply w-72 tablet:w-[360px] px-2 appearance-none h-10 border-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-400 placeholder:text-sm rounded-sm border-none;
  }

  textarea {
    @apply input-styling h-24;
  }
}
